body
{
    color: yellow;
    background-color: black;
}

h1
{
    font-family: "Comic Sans MS";
    font-size: 2em;
    text-align: center;
}

h2
{
    font-family: "Helvetica";
    text-align: center;
}